:root {
    --default-font: 'Veranda', sans-serif;
    --color-white: white;
    --color-gray: rgb(21, 21, 21);
    --color-yellow: rgb(248, 193, 69);
}

.w-100 {
    width: 100%;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: start;
}

.justify-evenly {
    justify-content: space-evenly;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
}

.text-left {
    text-align: left;
}

.overflow-hidden {
    overflow: hidden;
}

/*
    PLUGIN STYLES
*/
.plugin-container {
    font-size: 16px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: var(--color-gray);
    color: var(--color-white);
    margin-top: 50px;
    padding: 25px;
    border-radius: 25px;
    max-width: 100%;
    display: flex;
    position: relative;
    border: 2px solid var(--navbar-color);
}

.plugin-header {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--color-white);
    margin-top: auto;
}

select {
    width: auto;
}

.hover\:bg-caldera-primary:hover {
    background-color: var(--navbar-color);
}

.rounded {
    border-radius: 0.25rem;
}

.badge-container-button {
    color: var(--color-white);
    width: 5rem !important;
    padding: 0.25rem;
    margin: 0.75rem 0.25rem 0 0.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background-color: initial;
    border: none;
}

.badge-container-button:hover {
    background-color: var(--navbar-color);
}

.badge-icon-container {
    z-index: 0;
    width: 3.5rem !important;
    fill: currentColor;
    position: absolute;
}

.badge-icon-img {
    /*Important styles to override those from shared.css*/
    width: 1.5rem !important;
    height: auto !important;
    border: none !important;
    background-color: initial !important;
    z-index: 10;
    max-width: 100%;
    display: block;
    vertical-align: middle;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.badge-completed, .status-flag-completed {
    color: var(--color-yellow);
}

.badge-completed-text {
    background-color: var(--color-yellow);
    color: var(--color-gray) !important;
}

.badge-text {
    text-decoration: none;
    color: var(--color-white);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-top: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
}

.status-flag {
    padding: 0.5rem;
    color: var(--color-white);
}

.status-flag svg {
    width: 1.25rem;
    height: 1.25rem;
}

.flag-card-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    box-sizing: border-box;
}

.flag-card {
    display: flex;
    box-sizing: border-box;
    margin: 0.25rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--navbar-color);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    background-color: initial !important;
}

.flag-card-completed {
    color: var(--color-yellow);
    background-color: var(--navbar-color);
}

@media (min-width: 640px) {
    .flag-card {
        width: 100%;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

@media (min-width: 768px) {
    .flag-card {
        width: 33.333333%;
        font-size: 1rem;
        line-height: 1.75rem;
    }
}

@media (min-width: 1024px) {
    .flag-card {
        width: 24%;
        font-size: 0.9rem;
        line-height: 2rem;
    }
}

.flag-card-content {
    height: 18rem;
    width: 100%
}

.flag-show-more {
    min-height: 18rem;
    height: auto;
}

.flag-card-title {
    padding: 0.25rem 0.5rem;
    background-color: var(--navbar-color);
    color: var(--color-white);
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: left;
}

.flag-card-title span {
    width: 1.5rem;
    margin-right: 0.5rem;
}

.flag-card-title-name {
    width: 83.333333%;
}

.flag-card-title-badge {
    width: 16.666667%;
}

.flag-card-title-badge span {
    width: 5rem;
    padding: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.flag-badge-icon-container {
    z-index: 0;
    width: 2.5rem !important;
    fill: currentColor;
    position: absolute;
}

.flag-card-text {
    overflow-wrap: break-word;
    padding: 0 0.5rem;
}

.flag-show-more-button {
    padding: 0.5rem;
    cursor: pointer;
}

.flag-show-more-button span {
    width: 1rem;
}
