<link rel="stylesheet" href="/training/css/training.css">

<div id="training" class="section-profile">
    <div class="row">
        <div class="topleft duk-icon"><img onclick="removeSection('training')" src="/gui/img/x.png"></div>
            <center>
                <div class="column" style="flex:100%;">
                        <div class="certification-header">
                            <h1>CALDERA Certification</h1>
                            <h4>Getting certified means you have a proven ability to utilize this framework</h4>
                            <hr>
                            <p>
                                Below you will find virtual flags, similar to a capture-the-flag event. As you work through
                                each one, more flags will be displayed. Complete all the flags and you will receive a printable
                                CALDERA certification. The flags will automatically update (within 15 seconds)
                                as you work through the challenges.
                            </p>
                        </div>
                    <br><br>
                    <ul id="certification-modules" class="profile-tests"></ul>
                </div>
        </center>
    </div>
</div>

<li id="flag-template" class="flag-box" style="display: none">
    <h3 id="flag-number"></h3>
    <h4 id="flag-name"></h4>
    <p id="flag-challenge" class="flag-challenge"></p>
    <center>
        <h1 id="flag-status"></h1>
    </center>
</li>

<script>
    let refresher = setInterval(refresh, 15000);
    $('.section-profile').bind('destroyed', function() {
        clearInterval(refresher);
    });
    $(document).ready(function () {
        refresh();
    });

    function requestCertificate() {
        restRequest('POST', {'name':$('#cert-name').val()}, downloadCertData, '/plugin/training/certificate')
    }

    function refresh(){
        function updateFlags(data){
            let complete = 0;
            let flags = $('#certification-modules');
            flags.empty();
            try {
                data.flags.forEach(function(flag) {
                    let template = $("#flag-template").clone();
                    template.find('#flag-number').html('&#127937 ' + flag.number);
                    template.find('#flag-name').text(flag.name);
                    template.find("#flag-challenge").text(flag.challenge);
                    if(flag.completed) {
                        template.find('#flag-status').html('&#x2705;');
                        complete += 1;
                    } else {
                        template.find('#flag-status').html('&#10060;');
                        template.show();
                        flags.append(template);
                        throw Exception; //show only the next incomplete flag
                    }
                    template.show();
                    flags.append(template);
                });
            } catch(e) { }
            if (complete === data.flags.length){
            	let template = $("#flag-template").clone();
                template.find('#flag-number').html('Certificate');
                template.find('#flag-name').text('Download your Proof');
                template.find("#flag-challenge").html('You have successfully completed all flags, your certificate is now available.\n' +
                    '<input id="cert-name" type="text" placeholder="Your Name"/>\n' +
                    '<a href="" type="button" onclick="requestCertificate();"/>');
                template.find('#flag-status').html('&#11015;');
                template.show();
                flags.append(template);
            }
            stream(complete+' of '+ data.flags.length + ' flags found!');
        }
        restRequest('POST', null, updateFlags, '/plugin/training/flags')
    }
</script>